# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/
.vscode

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
*.env

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json
/assets/nier_image_folders
bin/configExamples
bin/config.txt
NAER_Settings/
bin/fork/nier_cli.exe
lib/nier_cli/nier_cli_fork_utils/utils/new_impl_tests/
*build_and_package.bat
*installers




# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
assets/rust_dll/yax_to_xml.dll
